<h1>Notes</h1>
<ul>
<% @notes.each do |n| %>
  <li>
    <article>
      <header><%= n.title %> | <%= link_to 'Edit', edit_user_note_path(@user, n) %></header>
      <p><%= n.description %></p>
    </article>
  </li>
<% end %>
</ul>
